<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Document</title>
</head>
<body>
    <form action="/reuniao" method="post" th:object="${convite}">
        <div>
            <label for="cpf">CPF:</label> <br>
            <input type="text" th:fiels="*{cpf}">
            <small th:if="${#fields.hasErrors('cpf')}">Erro CPF</small>
        </div>

        <div>
            <label for="nome">Nome:</label> <br>
            <input type="text" th:field="*{nome}">
        </div>

        <div>
            <label for="email">E-mail:</label> <br>
            <input type="text" th:field="*{email}">
        </div>
        
        <div>
            <label for="nomeEvento">Nome Evento:</label> <br>
            <input type="text" th:field="*{nomeEvento}">
        </div>

        <div>
            <label for="dtEvento">Dia do Evento</label> <br>
            <input type="date" th:field="*{dtEvento}">
        </div>

        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>