<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/reuniao" method="post">
        <div>
            <label for="cpf">CPF:</label> <br>
            <input type="text" name="cpf" id="cpf">
        </div>

        <div>
            <label for="nome">Nome:</label> <br>
            <input type="text" name="nome" id="nome">
        </div>

        <div>
            <label for="email">E-mail:</label> <br>
            <input type="text" name="email" id="email">
        </div>
        
        <div>
            <label for="nomeEvento">Nome Evento:</label> <br>
            <input type="text" name="nomeEvento" id="nomeEvento">
        </div>

        <div>
            <label for="diaEvento">Dia do Evento</label> <br>
            <input type="date" name="dtEvento" id="dtEvento">
        </div>

        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>