<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Todos</title>
</head>
<body>
    <h3>Listar Todos</h3>
    <ul>
        <li th:each="convite: ${convites}">
            <span th:text="${convite.nome}"></span>
            <span th:text="${convite.cpf}"></span>
            <span th:text="${convite.email}"></span>
            <span><button>Delete</button></span>
            <span><button><a th:href="@{/reuniao/update/} + ${convite.id}">Edit</a></button></span>
        </li>
    </ul>
    <a href="../reuniao/form" >Ir para o form</a>
</body>
</html>